<section class="flex flex-col w-full">
  <span class="text-white text-center font-semibold mt-5"><%= current_user.email %></span>
  <div class="flex items-center justify-center mt-2">
    <%= button_to 'Logoff', destroy_user_session_path, data: { "turbo-method": :delete }, class: 'bg-red-500 px-3 py-1 text-white font-semibold text-sm rounded-md' %>
  </div>
  <h3 class="text-white font-bold text-xl mt-3 text-center mb-2">My rooms</h3>

  <div class="flex flex-col px-5 gap-2 w-full" id="rooms">
    <% current_user.rooms.all.each do |room| %>
      <%= render 'shared/room', { room: room } %>
    <% end %>
  </div>
</section>